/* EDITANDO HTML */
html {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}
body {
    font-family: "Inter", sans-serif;
    background-color: #171a1b;
    color: #f2ede3;
}
::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-track {
    margin: 1rem 0;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
background: #363f41;
border-radius: 2rem;
}
::-webkit-scrollbar-thumb:hover {
background: #1e2324;
}
::-webkit-scrollbar-thumb:active {
    background: #a47e1b;
}

/* Botón dorado */
.btn-gold {
    background-color: #a47e1b;
    color: #f2ede3;
    transition: 0.2s;
}
.modal-btn-gold {
    background-color: #a47e1b;
    color: #f2ede3;
    transition: 0.2s;
}
.modal-btn-gold:hover {
    background-color: transparent;
    background-color: #8f6d17;
}
.btn-gold:hover {
    background-color: transparent;
    outline: 0.0625rem solid #a47e1b;
    color: #f2ede3;
}

/* NAVBAR */
nav .container-fluid {
    /* max-width: 1040px; */
}

.bg-darkblue {
    background-color: #171a1b;
}

#hero {
    background: rgba(0, 0, 0, 0.35) url(../images/suite.jpg) center center
        no-repeat;
    background-size: cover;
    color: #f2ede3;
    background-blend-mode: darken;
    height: 100vh;
}

#hero h1 {
    font-family: "Clash Display", sans-serif;
    font-weight: 500;
    font-size: 64px;
    margin: 0px;
}

#hero h3 {
    font-weight: 300;
}

#hero p {
    max-width: 497px;
    font-size: 20px;
    font-weight: 400;
}

/* INTRO */
#intro .info {
    width: 60%;
}
@media screen and (max-width: 768px) {
    #intro .info {
        width: auto;
    }
}

#intro h1 {
    margin: 0px;
    max-width: 400px;
}

#intro .img-intro {
    min-width: 300px;
    aspect-ratio: 3/4;
    background: url(../images/fondo-service.jpg) center center no-repeat;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    #intro .img-intro {
        min-width: min(400px,95%);
    }
}

/* SECTION SERVICES */
#servicios{
    background-color: #1e2324;
    background-image: url(../images/isotipo-bg-srvics.svg);
    background-repeat: no-repeat;
    background-size: 34rem;
    background-position: 95% -300px;
}

#title-services {
    font-family: "Clash Display", sans-serif;
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

.services {
    /* padding: 1.875rem 70px; */
}

.services .grupo-1 {
    max-width: 75rem;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3.125rem;
    color: #f2ede3;
    margin-bottom: 1.5rem;
}

.services .grupo-2 {
    width: 19.1875rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3.125rem;
}

.services .grupo-2 img {
    width: 20rem;
    height: 32rem;
    transition: all 400ms ease-out;
    object-fit: cover;
    object-position: 60%;
}

.services-container {
    position: relative;
    margin-bottom: 2.8125rem;
    width: auto;
    height: 26rem;
    transition: all 300ms ease;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 0;
}

.services-container:hover {
    outline: 0.0625rem solid #f2ede3;
}

.services-stars {
    width: auto;
    color: #a47e1b;
}

.services-subtitle {
    width: auto;
    position: absolute;
    background-color: #1e2324;
    color: #f2ede3;
    padding: 0.5rem;
    font-size: 1rem;
    right: 0;
    bottom: 0;
    border-radius: 4px 0 0 4px;
}

.services-box__hover {
    color: #f2ede3;
    background-color: hsl(0, 0%, 0%, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 500ms ease;
}
.services-box__hover:hover {
    opacity: 1;
}

.services-box__hover p {
    font-weight: 300;
    line-height: 1.5;
    max-width: 220px;
    margin-top: 1rem;
}

.services-box__hover h4 {
    font-size: 1.5rem;
    font-family: "Clash Display", sans-serif;
}

/*:::Services Tablet:::*/
@media screen and (max-width: 992px) {
    .services .grupo-2 {
        margin: auto;
        position: relative;
        width: 688px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.875rem;
        padding: 2.1875rem 0rem;
    }
    .services .grupo-2 .services-container {
        width: auto;
        height: 18.75rem;
    }
    .services .grupo-2 img {
        width: 43rem;
        height: 18.75rem;
        transition: all 400ms ease-out;
        object-fit: cover;
        object-position: 0 60%;
    }
    .services .grupo-2 .services-container .services-box__hover {
        width: 43.0625rem;
    }
}

/*:::Services Movile:::*/
@media screen and (max-width: 700px) {
    .services .grupo-2 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.875rem;
        padding: 2.1875rem 0rem;
    }
    .services .grupo-2 .services-container {
        position: relative;
        margin: auto;
        width: auto;
        height: 18.75rem;
    }
    .services .grupo-2 img {
        width: 21.125rem;
        height: 18.75rem;
        transition: all 400ms ease-out;
        object-fit: cover;
        object-position: right;
    }
}

@media screen and (max-width: 450px) {
    .services {
        width: 100vw;
        padding: 2rem 2rem;
    }

    .grupo-1 img {
        max-width: 250px;
    }
    .services .grupo-2 img {
        max-width: 250px;
    }
}

/* SECCION HABITACIONES */
.room-description {
    /* width: 95vw; */
    margin: auto;
}

#title-rooms {
    font-family: "Clash Display", sans-serif;
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

.room-container {
    width: 100%;
    margin: 1.3rem 0;
}

.room-bg:nth-child(even) {
    background-color: #1e2324;
}

.room-section {
    width: 90%;
    height: auto;
    padding: 1.875rem 0;
}

.room-section__media {
    width: 40%;
    position: relative;
    height: 18.75rem;
}

.room-section__media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.room-section__info--valor p small {
    font-weight: 400;
    font-size: 0.875rem;
}

.room-section__media--calificacion {
    padding: 0.4rem 1rem;
    background-color: #a47e1b;
    position: absolute;
    z-index: 100;
    top: 1.4rem;
    border-radius: 0 0.4rem 0.4rem 0;
}

.room-section__media--calificacion p span {
    font-weight: 500;
}

.room-section__info {
    width: 54%;
}

.room-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.room-section__info--valor i {
    color: #ad78f0;
}

.room-price {
    font-size: 1.25rem;
    font-weight: 600;
}

/* MODAL BODY */
.modal-body-content {
    margin: 1rem;
}

.modal-title {
    color: #171a1b;
}

.modal-body-title {
    display: inline;
    font-size: 1.25rem;
    font-weight: 600;
    color: #171a1b;
}
.modal-body-total {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: end;
    color: #171a1b;
}

.btn-rooms {
    border: 1px solid #dee2e6;
}
.btn-rooms:hover {
    border: 1px solid #dee2e6;
}

.modal-body-content {
    margin: 2.9375rem 0;
    row-gap: 2.5rem;
}

/* MODAL Cotizacion */

.modal-body {
    color: #171a1b;
}

.modal-body-total {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: end;
}

.label-cotizacion {
    font-weight: 500;
    color: #171a1b;
}

/* 'Extras a añadir' */

.form-check {
    border: 1px solid #dee2e6;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    margin: 0;
    color: #171a1b;
}

/* 'Personas y Habitaciones' */

.accordion-button {
    padding: 0.5625rem 0.75rem;
}

.label-pple-room {
    font-weight: 500;
}

.room-width-input {
    width: 7.5rem;
}

/* MODAL Datos personales */
.icon-datos-pers {
    font-size: 1rem;
    color: #1e2324d2;
}

/* MODAL Resumen */

.total-class-resume {
    font-size: 1.25rem;
    font-weight: 500;
}
.vr-style {
    height: 100%;
    color: #171a1b;
}

.fs-18 {
    font-size: 1.125rem;
}

.class-day-resume {
    font-size: 1.25rem;
    font-weight: 600;
}

/* COMENTARIOS */
#comments {
    color: #f2ede3;
}

#title-comments {
    font-family: "Clash Display", sans-serif;
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

#comments .circle {
    margin: 0px;
    background: #f2ede3;
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

#comments h2 {
    font-family: "Clash Display", sans-serif;
    font-size: 36px;
    font-weight: 500;
    width: 336px;
}

#comments .comments-stars {
    color: #a47e1b;
    font-size: 1.4rem;
}

#comments h3 {
    padding-top: 1px;
    font-size: 24px;
    font-weight: 600;
}

#comments .info-comment .info-comment__stars,
.info-comment p {
    display: inline-block;
}

.info-comment__stars i {
    font-size: .75rem;
    color: #AD78F0;
}

#comments .usr-comment-line {
    color: #363f41;
    margin: 2rem 0;
}

.info-comment p {
    font-size: 12px;
    color: #c0c0c0;
}

#comments .usr-comment > p {
    max-width: 80%;
    font-size: 15px;
}
@media screen and (max-width: 768px) {
    #comments .usr-comment > p {
        max-width: 100%;
    }
}

/* CONTACTO */
#contacto {
    /* width: 95vw; */
    margin: auto;
}

#container-contact {
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: #1e2324;
    padding: 3.75rem 4.5rem;
}

#container-contact form {
    min-width: 30rem;
}

#title-contact {
    font-family: "Clash Display", sans-serif;
    font-size: 2.25rem;
    margin-bottom: 2rem;
}

.contact-titles {
    font-size: 1.5rem;
    font-weight: 600;
}

/* CARDS 'Quiénes Somos' */
.about-contact__card {
    display: flex;
    height: 4.75rem;
}

.contact-card__img {
    width: 4.5rem;
    height: 4.5rem;
    background: #fff;
    border-radius: 3rem;
}

.contact-card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
}

.contact-card__text p {
    margin: 0;
}

.contact-card__text p:first-child {
    font-weight: 600;
}

.line-hr {
    display: block;
    background-color: #171a1b;
    height: 0.0625rem;
    margin: 1rem 0;
}

.card-text__smalltext {
    font-size: 0.875rem;
    color: #f2ede3c5;
}

/*:::FOOTER:::*/

.pie-pagina {
    margin-top: 20vh;
    background-color: #1e2324;
}

.pie-pagina .grupo-1 {
    width: 100%;
    /* max-width: 75rem; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.125rem;
    padding: 2.8125rem 0rem;
}

.pie-pagina .grupo-1 .box .figure-logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.pie-pagina .grupo-1 .box .figure-logo .figure-logo-img {
    width: 11.25rem;
    transition: all 300ms ease;
    color: #f2ede3;
}

.pie-pagina .grupo-1 .box .figure-logo .figure-logo-img:hover {
    filter: drop-shadow(1px 1px 2px #a47e1b);
}

.pie-pagina .grupo-1 .box h3 {
    color: #f2ede3;
    margin-bottom: 0.3125rem;
    font-size: 1rem;
}

.pie-pagina .grupo-1 .box p {
    color: #f2ede3;
    margin-bottom: 0.3125rem;
    font-size: 12px;
}
.pie-pagina .grupo-1 .box-aclaracion {
    max-width: 25rem;
}

.box-aclaracion h3 {
    font-size: 1rem;
    font-weight: 600;
}

.icon-rd {
    display: inline-block;
    padding: 0 0.9375rem;
    text-decoration: none;
    color: #f2ede3;
    margin-right: 0.625rem;
    text-align: center;
    transition: all 300ms ease;
}
.icon-rd:hover {
    color: #a47e1b;
}

.pie-pagina .grupo-2 {
    background-color: #171a1b;
    height: auto;
    padding: 0.4688rem 0.625rem;
    text-align: center;
    color: #f2ede3;
}

.pie-pagina .grupo-2 small {
    font-size: 0.75rem;
}

.pie-pagina hr {
    display: none;
    height: 0.0625rem;
}

/* ======= MEDIA QUERIES ======= */

/* INTRO */
@media (max-width: 576px) {
    #intro .txt-icon {
        text-align: center;
    }
}

/* CONTACTO */

@media only screen and (max-width: 670px) {
    #container-contact {
        padding: 3rem;
    }

    #container-contact form {
        min-width: auto;
    }
}

/* FOOTER */
@media screen and (max-width: 840px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.875rem;
        padding: 2.1875rem 0rem;
    }

    hr {
        display: block;
    }

    .box-aclaracion {
        margin: auto auto;
        text-align: center;
    }
}

/* MODALES */
@media (max-width: 767px) {
    .room-section__media img {
        width: 100%;
        height: 14.375rem;
    }

    .room-section__media--calificacion {
        top: -5rem;
    }

    .room-title {
        margin: 1.3rem 0 1rem 0;
    }
}