* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	/* overflow-x: hidden !important; */
	background-color: #171A1B;
	width: 100vw;
}

.btn-gold {
    background-color: #A47E1B;
    color: #F2EDE3;
    font-weight: 400;
}
.btn-gold:hover {
    background-color: #a47d1bd3;
    color: #F2EDE3;
}

/* SECCION HABITACIONES */
.room {
	height: auto;
}
.room-media-img{
	height: 100%;
	position: relative;
}
.calification{
	padding: 5px 17px 5px 15px !important;
	background-color: #A47E1B;
	position: absolute;
	z-index: 100;
	top: 10px;
}
p.description{
	font-size: 1rem;
}
.calification i{
	color: #fff;
}
.calification p{
	margin: 0;
	color: #fff;
	font-weight: 700;
}
.prices *{
	margin: 0;
}
span.price {
	font-size: 1.5em;
	margin: 0;
	font-weight: 700;
	color: #fff;
}
p.top{
	margin: 0 !important;
	align-items: center;
}

.rooms .col-md-12{
	padding: 0 auto !important;
}
.rooms * {
	color: #F2EDE3;
}

.room:nth-child(even),
.room-title:nth-child(even){
	background-color: #1E2324;
}
.room-title{
	padding: 2rem 0;
}

.room-features i{
	color: #AD78F0;
}
.room .room-media{
	width: 50% !important;
	
}
.room .room-content{
	width: 50% !important;
	padding-left: 20px !important;
}

/* MODAL BODY */
.modal-body-content {
    margin: 1rem;
}

.modal-body-title {
    display: inline;
    font-size: 1.25rem;
    font-weight: 500;
}
.modal-body-total {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: end;
}

.btn-rooms {
    border: 1px solid #dee2e6;
}
.btn-rooms:hover {
    border: 1px solid #dee2e6;
}

#modal-container {
    background-color: #fff;
    max-width: 49.875rem;
    height: auto;
    flex: 1 1 auto;
    padding: 1rem;
    margin: auto;
}

.modal-body-content {
    margin: 2.9375rem 0;
    row-gap: 2.5rem;
}

.modal-body-title {
    display: inline;
    font-size: 1.25rem;
    font-weight: 600;
}
.modal-body-total {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: end;
}

.form-check {
    border: 1px solid #dee2e6;
    padding: .375rem .75rem;
    border-radius: .375rem;
}

.accordion-width {
    width: 60%;
}

.accordion-button {
    padding: .5625rem .75rem;
}

.label-cotizacion {
    font-weight: 500;
}

/* Estilos 'Personas y Habitaciones' */

.label-pple-room {
    font-weight: 500;
}

.room-width-input {
    width: 7.5rem;
}

.input-date {
    width: 12.5rem;
}

/* MEDIA QUERIES */

@media (max-width: 700px) {
    .input-date {
        width: auto;
    }
}

@media(max-width: 820px){
	.room p.description{
		font-size: 13px
	}
}

@media(max-width: 700px){
	.room.p-4{
		flex-direction: column;
		padding: 10px 3px !important;
	}
	.room .room-media{
		width: 100% !important;
	}.room .room-content{
		width: 100% !important;
		padding-left: 0px !important;
		margin-top: 20px
	}
}

