/* FUENTE PARA TITULOS:
    font-family: 'Clash Display', sans-serif;
*/

#main-colores {
    color: #171a1b;
    color: #1e2324;
    color: #f2ede3;
    color: #a47e1b;
    color: #ad78f0;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #171a1b;
    color: #f2ede3;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    border-bottom: #333 solid 2px;
}

h1 {
    margin: 0;
    font-size: 36px;
    margin-right: 48%;
}

/* NAVBAR */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

/* MAIN */
h2 {
    font-size: 24px;
    margin-top: 40px;
}

h3 {
    font-size: 18px;
    margin-top: 30px;
}

p {
    line-height: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(212, 212, 212);
}

/* HERO */

.hero {
    height: 90vh;
    background-image: url(hero_room_darked_test.jpg);
    background-size: cover;
    background-position: center center;
}

.hero h1,
h3,
p {
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.hero .rectangulo {
    height: 8vh;
}

.hero .container {
    height: 100%;
}

/* INTRO */

#intro {
    min-height: 75vh;
}

#intro .info {
    height: 60vh;
    max-width: 600px;
}

#intro p {
    margin: 0px;
}

@media (max-width: 576px) {
    #intro .txt-icon {
        text-align: center;
    }
}

#intro h1 {
    margin: 0px;
    max-width: 400px;
}

#intro .img-intro {
    height: clamp(221px, 35vw, 389px);
    aspect-ratio: 3/4;
    background: url(images/francesca-tosolini-9dyitA0YIHE-unsplash.jpg) center
        center no-repeat;
    background-size: cover;
}
@media screen and (max-width: 911px){
    #intro .img-intro {
        height: 447px;
        aspect-ratio: 3/4;
    }
}